# Git Ignore file for ML project

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Project data
data/*
*.csv

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderworkspace
.spyderproject