/********************************************************
*  Stylesheet voor javaproject 2012-2013        	*
*  Design door Vincent Tanghe - 2Ti2                    *
*                                                       *
********************************************************/

/* ------- Algemene instellingen ------- */
html{
    height: 100%;
    font-family: 'Open Sans', Segoe UI light, Tahoma,Helvetica,sans-serif;
    font-weight:400;
    font-family:'Open Sans', Segoe UI light, Tahoma,Helvetica,sans-serif;
    font-size:13px;
}
body{
    height:100%;
    background-color: #ddd;
    overflow: auto;
    text-align: left;
    color: #333;
    cursor: default;
    margin: 0;
    padding: 0;
    text-align: center;
}
#content,#header{
    text-align: left;
    width: 700px;
    margin: 0 auto;
}
wrapper{
    position:relative;
    z-index:0;
    margin:0 0 0 20px;
}

/* ------- Header stijlen ------- */
#headerwrapper{
    background-color: #333; 
    border-bottom:1px #999 solid;
    width: 100%;
}
#header{
    background-color: #333;
    color: #FFF;
    display: table;
}

div#header h1{/*the big header text */
    color:#FFF;
    font-size:46px;
    text-decoration:none;
    margin:0px;
}
div#header h2{/*the smaller title */
    z-index:12;
    font-size:16px;
    color:#CCC;
    margin:0 0 5px 5px;
}
#headerTitles {
    position:relative;
    float:left;
    display:inline-block;
}
#headnav {
    z-index:1;
    float:right;
    vertical-align:middle;
    margin-top:10px;
}

.headnavitem {
    display:inline-block;
    z-index:6;
    -webkit-transition:background 100ms ease-in;
    -moz-transition:background 100ms ease-in;
    -o-transition:background 100ms ease-in;
    -ms-transition:background 100ms ease-in;
    transition:background 100ms ease-in;
    height:70px;
    width:95px;
    background-color:#555;
    color:#FFF;
    font-size:14px;
    text-align:center;
    border:1px solid #666;
    text-decoration:none;
    margin:0;
    padding:0;
    text-transform:uppercase;
}

.headnavitem img {
    border:none;
    height:32px;
    margin:10px 10px 3px;
}


/* ------- Content stijlen ------- */
#content{
    margin-top: 20px;
    color:#111;
    display: table;
}

#headerWrapper{/* the header on top */
    background-color:#333;
    border-bottom:1px #999 solid;	
    /*box-shadow:0 0 5px #555;*/
}
div.pageContent{
    background: rgb(250, 250, 250); /* default fallback */
    /*background: rgba(180, 180, 180, 0.2); /* nice browsers */
    box-shadow: 0 0 7px #777;
    -moz-box-shadow: 0 0 7px #777;
    -webkit-box-shadow: 0 0 7px #777;
    padding: 5px;
    min-height: 400px;
}

#back{
    width:75px;
    margin-top: 50px;
    margin-left:-100px;
    display:block;
    float:left;
}
#back a img{
    zoom: 1;
    opacity: 0.4;
    filter: alpha(opacity=40);
    border: 0px;
}
#back a img:hover{
    opacity: 1;
    filter: alpha(opacity=100);
}

/* -- Extra stijl instellingen -- */
a{
    color: #296ACC; 
    text-decoration:underline;
    outline: none;
}
a:hover{
    color: #ffffff;
}
a:active, a:selected, a:visited, a:focus {
    outline: none;
    border:none;
}
em{
    margin-right:2px;
}
/* HEADINGS */
h1{
    font-size:38px;
    font-weight:300;
    margin:20px 0 0px 0;
    color:#222;
}
h2{
    font-size:30px;
    font-weight:300;
    margin:20px 0 2px 0;
    color:#222;
}
h3{
    font-size:22px;
    font-weight:normal;
    margin:20px 0 2px 0;
    color:#444;
}
h4{
    font-size:20px;
    font-weight:300;
    margin:15px 0 2px 0;
    color:#444;
}
h5{
    font-size:18px;
    font-weight:normal;
    margin:13px 0 2px 0;
    color:#444;
}
h6{
    font-size:16px;
    font-weight:normal;
    margin:10px 0 2px 0;
    color:#444;
}
/* Block Alignment*/
.align-left{
    display: block;
    float: left;
    text-align:left;
}
.align-right{
    display: block;
    float: right;
    text-align:right;
}
.align-center{
    display: block;
    text-align:center;
    margin: auto;
}

/* NAVIGATION */
a.headnavitem{ /* main nav on top */
    height:70px;
    width:95px;
    background-color:#555;
    color:#FFF;
    font-size:14px;
    text-align:center;	
    border:1px solid #666;
    text-decoration:none;
}
a.headnavitem:hover{
    color:#FFF;
    background-color:#888;
}
a.headnavitem img{
    margin:10px 10px 3px 10px;
    height:32px;
}

/* -- Forms -- */
form{
    margin-left: 10px;
}
fieldset{
    border:1px solid #999;
    margin: 10px 0;
    padding:10px;
}
legend{
    background-color:#777;
    color:#FFF;
    font-weight:bold;
    padding:1px 3px;
    font-size:12px;
}
label{
    cursor:pointer;
}
textarea{
    font-family:  'Open Sans', Segoe UI, Tahoma,Helvetica,sans-serif;
    overflow:auto;
}
input,select,textarea{
    margin:3px 3px 3px 10px;
    padding:2px 2px;
}
select{
    width: 200px;
    padding:3px 3px;
}

input[type=button]{
    background-color:#777;
    border:1px solid #FFF;
    color:#FFF;
    padding:2px 5px;
}
input[type=button]:hover{
    background-color:#999;	
}
textarea:focus,input:focus,select:focus {
  outline: 0;
  border: 1px solid rgba(82, 168, 236, 0.8);
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
            position: relative;
   padding:3px 3px;
}

input.errorfield,textarea.errorfield {background-color:#FEECEC;border: 1px solid #D01515; padding:2px 2px;}
/* BUTTONS */
.orangeButton, button{
    border:1px solid #FFF;
    background-color:#F60;
    color: #FFF;
    padding:2px 5px;
    margin: 5px 3px 3px 3px;
    cursor: pointer;
}
.orangeButton:hover, button:hover{background-color:#F90;cursor:pointer;}
.greenButton{background-color:#789600;}
.greenButton:hover{background-color:#88B600;}
.redButton{background-color:#C33;}
.redButton:hover{background-color:#D63;}
.blueButton{background-color:#426EA0;}
.blueButton:hover{background-color:#688BB3;}
.greyButton{background-color:#444;}
.greyButton:hover{background-color:#888;}

.w8bbig, .w8bsmall{
    color: #FFF;
    padding:2px 5px;
    margin: 5px 5px 3px 3px;
    cursor: pointer;
    display: block;
    float: left;
    text-decoration: none;
    border: 1px solid transparent;
    -webkit-transition:background 100ms ease-in;
    -moz-transition:background 100ms ease-in;
    -o-transition:background 100ms ease-in;
    -ms-transition:background 100ms ease-in;
    transition:background 100ms ease-in;
}
.w8bbig:hover, .w8bsmall:hover{
    box-shadow: 0 0 7px #777;
    -moz-box-shadow: 0 0 7px #777;
    -webkit-box-shadow: 0 0 7px #777;
    border: 1px solid #fff;
}
.w8bbig h2, .w8bsmall h2{
    color: #fff;
    text-decoration: none;
    text-transform:uppercase;
}
.w8bbig{
    width: 300px;
    height: 145px;
}
.w8bsmall{
    width: 145px; 
    height: 145px; 
}
/* HR */
hr{
    border:none;
    border-top:1px solid #555;
    margin-bottom:15px;
    margin-top:2px;
}

/* -- bericht blokken -- */
.box-info,.box-warning,.box-success,.box-hint { margin: 15px 0;text-align: justify;padding: 10px 10px 10px 40px;color:#FFF; border-color: #fae6be;background: #F70;}
.box-info { background:#296ACC; border-color:#B2B2FF; }
.box-warning { background:#C33;border-color:#DB4D4D; }
.box-success { background:#789600; border-color: #88B600; }

blockquote{
    margin: 10px;
}